@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #051937;
    --background: 230 99.2% 98.24%;
    --foreground: 230 8.4% 0.48%;

    --muted: 230 8.4% 91.2%;
    --muted-foreground: 230 4.2% 41.2%;

    --popover: 230 22.799999999999997% 91.2%;
    --popover-foreground: 230 8.4% 0.6%;

    --card: 230 22.799999999999997% 91.2%;
    --card-foreground: 230 8.4% 0.6%;

    --border: 230 13.4% 89.48%;
    --input: 230 13.4% 89.48%;

    --primary: 230 84% 12%;
    --primary-foreground: 230 1.68% 91.2%;

    --secondary: 230 4.2% 95.6%;
    --secondary-foreground: 230 6.04% 11.2%;

    --accent: 230 4.2% 95.6%;
    --accent-foreground: 230 6.04% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 230 84% 12%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

.bg-gradient { background: var(--gradient) }
